= form_for @script, html: {multipart: true} do |f|
  - if @script.errors.any?
    #error_explanation
      %h2= "#{pluralize(@script.errors.count, "error")} prohibited this script from being saved:"
      %ul
        - @script.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    = f.text_field :name, class: 'form-control'
  .field
    = f.label :body
    = f.text_area :body, class: 'form-control script-area', rows: 15
  .field
    = label_tag t(:field_attachments)
    %ul.attachments
      - @script.attachments.order(:upload_file_name).each do |attachment|
        %li
          %i.fa.fa-file
          = attachment.upload.filename
          %span.text-muted
            (
            = number_to_human_size(attachment.upload.byte_size)
            \/
            = time_ago_in_words(attachment.updated_at) + t(:ago)
            )
          %label.checkbox
            = check_box_tag "delete_attachments[]", attachment.id
            = t(:button_remove)

    .fileuploads
      = render 'form_upload', :display => 'none'
      = render 'form_upload', :display => 'block'
    .fileuploads-more
      = link_to '#', :class => 'attachment-more btn btn-default' do
        %i.fa.fa-plus
        =t(:button_more_attachment)

  .actions
    = f.submit t(:button_save), class: 'btn btn-primary'

:javascript
  $(function() {
    $('.attachment-more').on('click', function(e) {
      var fileupload = $('.fileuploads .fileupload:first-child');
      var lastupload = $('.fileuploads .fileupload:last-child');
      fileupload.clone(true).toggle().insertAfter(lastupload);
      return false;
    });
    $('.script-area').each(function() {
      editorFromTextArea(this, {});
    });
  });
