= form_for @script, html: {multipart: true} do |f|
  - if @script.errors.any?
    #error_explanation
      %h2= "#{pluralize(@script.errors.count, "error")} prohibited this script from being saved:"
      %ul
        - @script.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :body
    = f.text_area :body, class: 'input-xxlarge script-area', rows: 15
  .field
    = label_tag t(:field_attachments)
    %ul.attachments
      - @script.attachments.each do |attachment|
        %li
          %i.icon-file
          = attachment.upload.instance.upload_file_name
          (
          = number_to_human_size(attachment.upload.instance.upload_file_size)
          )
          %label.checkbox
            = check_box_tag "delete_attachments[]", attachment.id
            = t(:button_remove)

    .fileupload.fileupload-new{:'data-provides' => 'fileupload'}
      .input-append
        .uneditable-input.span3
          %i.icon-file.fileupload-exists
          %span.fileupload-preview
        %span.btn.btn-file
          %span.fileupload-new= t(:button_select_file)
          %span.fileupload-exists
            = t(:button_change)
          = file_field_tag 'attachments[][upload]', :class => 'input-file'
        = link_to t(:button_remove), '#', {:'data-dismiss' => 'fileupload', :class => 'btn fileupload-exists'}

  .actions
    = f.submit t(:button_save), class: 'btn btn-primary'

:javascript
  $(function() {
    $('.input-file').on('change', function() {
    });
  });
