.fileinput.fileinput-new{'data-provides': 'fileinput', style: "display:#{display}"}
  .input-group
    .form-control.uneditable-input
      %i.fa.fa-file.fileinput-exists
      %span.fileinput-preview
    .input-group-btn
      %span.btn.btn-default.btn-file
        %span.fileinput-new= t(:button_select_file)
        %span.fileinput-exists
          = t(:button_change)
        = file_field_tag 'attachments[][upload]', class: 'input-file'
      = link_to t(:button_remove), '#', {'data-dismiss': 'fileinput', class: 'btn btn-default fileinput-exists'}
