.fileupload.fileupload-new{'data-provides': 'fileupload', style: "display:#{display}"}
  .input-group
    .form-control.uneditable-input
      %i.fa.fa-file.fileupload-exists
      %span.fileupload-preview
    .input-group-btn
      %span.btn.btn-default.btn-file
        %span.fileupload-new= t(:button_select_file)
        %span.fileupload-exists
          = t(:button_change)
        = file_field_tag 'attachments[][upload]', class: 'input-file'
      = link_to t(:button_remove), '#', {'data-dismiss': 'fileupload', class: 'btn btn-default fileupload-exists'}
