- content_for :title do
  = "#{@script.name} - #{t(:title_edit)}"

%nav{"aria-label" => "breadcrumb"}
  %ol.breadcrumb
    %li.breadcrumb-item
      = link_to t(:title_scripts), scripts_path
    %li.breadcrumb-item
      = link_to @script.name, script_path(@script)
    %li.breadcrumb-item.active{"aria-current" => "page"}= t(:title_edit)

%h3= t(:title_edit)

= render 'form'

