%h3
  %ul.breadcrumb
    %li= t(:title_scripts)

.pull-right= link_to t(:button_new_script), new_script_path, class: 'btn'
.clearfix

%table.table.table-striped
  %tr
    %th= t(:field_name)
    %th= t(:field_created_by)
    %th= t(:field_updated_by)
    %th= t(:field_last_update)

  - @scripts.each do |script|
    %tr
      %td= link_to script.name, script
      %td= script.creater_name
      %td= script.updater_name
      %td= script.formatted_updated_at
