- content_for :title do
  = t(:title_search)

.page-title
  %h3= t(:title_search)
  .page-title-right-menu
    - if params[:archived] == 'true'
      = link_to search_path(keyword: @keyword), class: 'btn btn-outline-secondary active' do
        %i.fa.fa-box-open{title: t(:link_active_scripts)}
    - else
      = link_to search_path(keyword: @keyword, archived: true), class: 'btn btn-outline-secondary' do
        %i.fa.fa-box{title: t(:link_archived_scripts)}

.mt-3.mb-3
  %form{action: search_path, method: :get}
    .d-flex.flex-row.align-items-center.flex-wrap
      .col-auto.me-1
        = text_field_tag :keyword, @keyword, class: 'form-control', autofocus: true
      .col-auto
        = submit_tag t(:title_search), class: 'btn btn-outline-secondary'

.search-results
  - @scripts.each do |script|
    .search-result.mb-3
      .search-result-title-box
        %span.search-result-title= link_to script.name, script
        .float-right
          = script.updater_name
          %span.text-muted
            (
            = time_ago_in_words(script.updated_at) + t(:ago)
            )
      .search-result-body= text_area_tag :body,
        script.body.split("\n").find { |l| @keyword.split(/[[:blank:]]+/).any? { |word| l.include?(word) } },
        class: 'form-control script-area',
        rows: 1,
        'data-first-line-number': script.body.split("\n").index { |l| @keyword.split(/[[:blank:]]+/).any? { |word| l.include?(word) } } + 1

.d-flex.justify-content-center
  = paginate @scripts

:javascript
  $(function() {
    document.querySelectorAll('.script-area').forEach(function(el) {
      var firstLineNumber = el.dataset.firstLineNumber;
      editorFromTextArea(el, {readOnly: true, firstLineNumber: firstLineNumber});
    });
  });

