- content_for :title do
  = t(:title_search)

.page-title
  %h3= t(:title_search)
  .page-title-right-menu
    - if params[:archived] == 'true'
      = link_to search_path(keyword: @keyword), class: 'btn btn-inverse' do
        %i.fa.fa-archive{:title => t(:link_active_scripts)}
    - else
      = link_to search_path(keyword: @keyword, archived: true), class: 'btn' do
        %i.fa.fa-archive{:title => t(:link_archived_scripts)}

.search-box
  %form{action: search_path, method: :get}
    .input-append
      = text_field_tag :keyword, @keyword, class: 'form-control'
      = submit_tag t(:title_search), class: 'btn'

.search-results
  - @scripts.each do |script|
    .search-result
      .search-result-title-box
        %span.search-result-title= link_to script.name, script
        .pull-right
          = script.updater_name
          %span.text-muted
            (
            = time_ago_in_words(script.updated_at) + t(:ago)
            )
      .search-result-body= text_area_tag :body,
        script.body.split("\n").find { |l| @keyword.split(/[[:blank:]]+/).any? { |word| l.include?(word) } },
        class: 'form-control script-area',
        rows: 1,
        'data-first-line-number': script.body.split("\n").index { |l| @keyword.split(/[[:blank:]]+/).any? { |word| l.include?(word) } } + 1

.text-center
  = paginate @scripts

:javascript
  $(function() {
    $('.script-area').each(function() {
      var firstLineNumber = $(this).data('first-line-number');
      CodeMirror.fromTextArea(this, {"mode": "shell", "readOnly": true, "lineNumbers": true, "firstLineNumber": firstLineNumber});
    });
    $('[name="keyword"]').focus();
  });

