%p#notice= notice

%h1= @script.name

%dl.dl-horizontal

  %dt Script:
  %dd
    %pre= @script.body

  %dt GUID:
  %dd= @script.guid

  %dt Created by:
  %dd= @script.creater_name

  %dt Updated by:
  %dd= @script.updater_name

%p.text-center
  %span= link_to 'Back', scripts_path, class: 'btn'
  %span= link_to 'Edit', edit_script_path(@script), class: 'btn'

%h2 Results
%table.table.table-striped
  %tr
    %th Host
    %th Uploaded
  - @script.logs.each do |log|
    %tr
      %td= link_to log.host, log_path(log)
      %td= log.created_at

