%h3
  %ul.breadcrumb
    %li
      = link_to t(:title_scripts), scripts_path
      %span.divider &raquo;
    %li= @script.name


.pull-right
  %span= link_to t(:button_edit), edit_script_path(@script), class: 'btn'
.clearfix

%dl.dl-horizontal

  %dt= t(:field_body)
  %dd
    %pre= @script.body

  %dt= t(:field_guid)
  %dd= @script.guid

  %dt= t(:field_created_by)
  %dd= @script.creater_name

  %dt= t(:field_updated_by)
  %dd= @script.updater_name

  %dt= t(:field_run)
  %dd
    %pre
      = "curl #{root_url}scripts/#{@script.guid}.sh | sh > sunline.log"
      %br
      = "curl #{root_url}scripts/#{@script.guid}/log.json -X POST -F host=`hostname` -F log_file=@sunline.log"

%h4= t(:title_logs)
%table.table.table-striped
  %tr
    %th= t(:field_host)
    %th= t(:field_uploaded)
  - @script.logs.order('created_at desc').each do |log|
    %tr
      %td= link_to log.host, log_path(log)
      %td= log.formatted_created_at

