- content_for :title do
  = @script.name

%ul.breadcrumb
  %li
    = link_to t(:title_scripts), scripts_path
    %span.divider /
  %li.active= @script.name

.navbar
  .container
    %h3{:style => 'display:inline'}= @script.name
    .pull-right
      - if @script.archived
        = link_to t(:button_unarchive), unarchive_script_path(@script), class: 'btn btn-primary', method: :post
      - else
        = link_to t(:button_edit), edit_script_path(@script), class: 'btn'
        = link_to t(:button_archive), archive_script_path(@script), class: 'btn btn-danger', method: :post

%dl.dl-horizontal

  %dt= t(:field_body)
  %dd= text_area_tag :body, @script.body, class: 'input-xxlarge script-area', rows: 15

  %dt= t(:field_created_by)
  %dd
    = @script.creater_name
    %span.muted
      (
      = time_ago_in_words(@script.created_at) + t(:ago)
      )

  %dt= t(:field_updated_by)
  %dd
    = @script.updater_name
    %span.muted
      (
      = time_ago_in_words(@script.updated_at) + t(:ago)
      )

  - unless @script.attachments.empty?
    %dt= t(:field_attachments)
    %dd
      %ul.attachments
        - @script.attachments.order(:upload_file_name).each do |attachment|
          %li
            %i.icon-file
            = link_to attachment.upload.instance.upload_file_name, attachment.upload.url
            %span.muted
              (
              = number_to_human_size(attachment.upload.instance.upload_file_size)
              )

.navbar.navbar-h4
  .container
    %h4= t(:field_run)
    .pull-right
      = link_to '#', :class => 'copy-button btn btn-info', :'data-clipboard-text' => "#{@script.remote_script(root_url)}", :title => t(:copy_to_clipboard), :'data-placement' => 'left' do
        %i.icon-paper-clip
      = link_to '#', :class => 'copy-button btn btn-info', :'data-clipboard-text' => "#{wrapped_sh_url(@script.guid)}", :title => t(:copy_to_clipboard), :'data-placement' => 'left' do
        = t(:button_wrapped)

%pre.run
  = @script.remote_script(root_url)

- unless @script.logs.empty?
  .navbar.navbar-h4
    .container
      %h4= t(:title_logs)
      .pull-right.muted.logs-toolbar
        %form.form-inline
          %span#logs-count= @script.logs.length
          = t(:logs_count)
          %label.checkbox
            = check_box_tag(:logs_auto_reload)
            = t(:auto_reload)
          = form_tag script_path(@script), method: 'get', class: 'grep-log-form' do
            = text_field_tag :keyword, @keyword, class: 'form-control auto-width', placeholder: 'Grep logs'
  %table.table.table-striped#logs-table
    %thead
      %tr
        %th= t(:field_host)
        %th= t(:field_uploaded)
        %th= t(:field_log_size)
    %tbody
    - @script.logs.order('created_at desc').each do |log|
      %tr{:id => "log-#{log.id}", :class => "logs #{@highlights.include?(log.id) ? 'success' : ''}"}
        %td= link_to log.host, log_path(log)
        %td= log.formatted_created_at
        %td= number_to_human_size log.result.bytesize

:javascript
  $(function() {
    var clip = new ZeroClipboard($('.copy-button'), {
      moviePath: "#{asset_path("ZeroClipboard.swf")}"
    } );
    clip.on('complete', function(client, args) {
      var self = $(this);
      self.attr('title', '#{t(:copied)}');
      self.tooltip('show');
      setTimeout(function() {
        self.attr('title', '#{t(:copy_to_clipboard)}');
        self.tooltip('destroy');
      }, 3000);
    } );
    $('.script-area').each(function() {
      CodeMirror.fromTextArea(this, {mode: "shell", lineNumbers: true, readOnly: true});
    });
    setInterval(function() {
      if ($('#logs_auto_reload').is(':checked')) {
        $("#logs-table").empty().load(window.location + ' #logs-table', function() {
          $('#logs-count').text($('#logs-table tbody tr').size());
        });
      }
    }, 15 * 1000);
  });

