%p#notice= notice

%p
  %b Name:
  = @script.name
%p
  %b Body:
  = @script.body
%p
  %b Created by:
  = @script.creater_name
%p
  %b Updated by:
  = @script.updater_name
%p
  %b Guid:
  = @script.guid

- @script.logs.each do |log|
  %p
    = link_to log.host, log_path(log)
    = log.created_at

= link_to 'Edit', edit_script_path(@script)
\|
= link_to 'Back', scripts_path
