- content_for :title do
  = @script.name

%ul.breadcrumb
  %li
    = link_to t(:title_scripts), scripts_path
  %li.active= @script.name

.page-title
  %h3= @script.name
  .page-title-right-menu
    - if @script.archived
      = link_to t(:button_unarchive), unarchive_script_path(@script), class: 'btn btn-primary', method: :post
    - else
      = link_to t(:button_edit), edit_script_path(@script), class: 'btn btn-default'
      = link_to t(:button_archive), archive_script_path(@script), class: 'btn btn-danger', method: :post

%dl.dl-horizontal

  %dt= t(:field_body)
  %dd= text_area_tag :body, @script.body, class: 'form-control script-area', rows: 15

  %dt= t(:field_created_by)
  %dd
    = @script.creater_name
    %span.text-muted
      (
      = time_ago_in_words(@script.created_at) + t(:ago)
      )

  %dt= t(:field_updated_by)
  %dd
    = @script.updater_name
    %span.text-muted
      (
      = time_ago_in_words(@script.updated_at) + t(:ago)
      )

  - unless @script.attachments.empty?
    %dt= t(:field_attachments)
    %dd
      %ul.attachments
        - @script.attachments.order(:upload_file_name).each do |attachment|
          %li
            %i.fa.fa-file
            = link_to attachment.upload.filename, attachment.upload.url
            %span.text-muted
              (
              = number_to_human_size(attachment.upload.byte_size)
              )

.page-title
  %h4= t(:field_run)
  .page-title-right-menu
    = link_to 'javascript:void(0)', :class => 'copy-button btn btn-info', :'data-clipboard-text' => "#{@script.remote_script(root_url)}", :title => t(:copy_to_clipboard), :'data-placement' => 'bottom' do
      %i.fa.fa-paperclip
    = link_to 'javascript:void(0)', :class => 'copy-button btn btn-info', :'data-clipboard-text' => "#{wrapped_sh_url(@script.guid)}", :title => t(:copy_to_clipboard), :'data-placement' => 'bottom' do
      = t(:button_wrapped)

%pre.run
  = @script.remote_script(root_url)

- unless @script.logs.empty?
  .page-title
    %h4= t(:title_logs)
    .page-title-right-menu.text-muted.logs-toolbar
      %form.form-inline
        %span#logs-count= @script.logs.size
        = t(:logs_count)
        %label.checkbox
          = check_box_tag(:logs_auto_reload)
          = t(:auto_reload)
        = form_tag script_path(@script), method: 'get', class: 'grep-log-form' do
          = text_field_tag :keyword, @keyword, class: 'form-control auto-width', placeholder: t(:grep_logs)
          .dropdown{style: 'display:inline'}
            = link_to '#', class: 'btn dropdown-toggle', 'data-toggle': 'dropdown', style: 'margin-top:0' do
              %i.fa.fa-ellipsis-v
            %ul.dropdown-menu.pull-right
              %li
                = link_to t(:button_export_csv), logs_csv_path(@script)
  .table-container
    %table.table.table-striped#logs-table
      %thead
        %tr
          %th= t(:field_host)
          %th= t(:field_uploaded)
          %th= t(:field_log_size)
      %tbody
      - @script.logs.select_without_result.order('created_at desc').each do |log|
        %tr{:id => "log-#{log.id}", :class => "logs #{@highlights.include?(log.id) ? 'success' : ''}"}
          %td= link_to log.host, log_path(log)
          %td= log.formatted_created_at
          %td= number_to_human_size log.result_bytes

:javascript
  $(function() {
    var clip = new ClipboardJS('.copy-button');
    clip.on('success' , function(e) {
      var self = $(e.trigger);
      self.attr('title', '#{t(:copied)}');
      self.tooltip('show');
      setTimeout(function() {
        self.attr('title', '#{t(:copy_to_clipboard)}');
        self.tooltip('destroy');
      }, 3000);
    } );
    $('.script-area').each(function() {
      CodeMirror.fromTextArea(this, {mode: "shell", lineNumbers: true, readOnly: true});
    });
    setInterval(function() {
      if ($('#logs_auto_reload').is(':checked')) {
        $(".table-container").load(window.location + ' #logs-table', function(response, status, xhr) {
          if (status == "error") {
            $("#logs-table").empty();
            $('#logs-count').text(0);
          } else {
            $('#logs-count').text($('#logs-table tbody tr').size());
          }
        });
      }
    }, 15 * 1000);
  });

