%h3= @script.name

.pull-right
  %span= link_to 'Edit', edit_script_path(@script), class: 'btn'
.clearfix

%dl.dl-horizontal

  %dt Script:
  %dd
    %pre= @script.body

  %dt GUID:
  %dd= @script.guid

  %dt Created by:
  %dd= @script.creater_name

  %dt Updated by:
  %dd= @script.updater_name

  %dt Run:
  %dd
    %pre
      = "curl #{root_url}scripts/#{@script.guid}.sh | sh > sunline.log"
      %br
      = "curl #{root_url}scripts/#{@script.guid}/log.json -X POST -F host=`hostname` -F log_file=@sunline.log"


%p.text-center
  %span= link_to 'Back', scripts_path, class: 'btn'

%h4 Logs
%table.table.table-striped
  %tr
    %th Host
    %th Uploaded
  - @script.logs.each do |log|
    %tr
      %td= link_to log.host, log_path(log)
      %td= log.created_at

