- content_for :title do
  = t(:title_hosts)

.page-title
  %h3= t(:title_hosts)
  .page-title-right-menu.text-muted
    = @hosts.length
    = t(:hosts_count)

%table.table.table-striped
  %thead
    %tr
      %th= t(:field_host)
  %tbody
    - @hosts.each do |host|
      %tr
        %td= link_to host, host_path(host)

