- content_for :title do
  = t(:title_hosts)

.navbar
  .container
    %h3= t(:title_hosts)
    .pull-right.muted.h3-right
      = @hosts.length
      = t(:hosts_count)

%table.table.table-striped
  - @hosts.each do |host|
    %tr
      %td= link_to host, host_path(host)

