%h1 Listing logs

%table
  %tr
    %th Host
    %th Result
    %th Script
    %th
    %th
    %th

  - @logs.each do |log|
    %tr
      %td= log.host
      %td= log.result
      %td= log.script_id
      %td= link_to 'Show', log
      %td= link_to 'Edit', edit_log_path(log)
      %td= link_to 'Destroy', log, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Log', new_log_path
