%h3
  = link_to t(:title_scripts), scripts_path
  &raquo;
  = link_to @log.script.name, script_path(@log.script)
  &raquo;
  = t(:title_log)

%dl.dl-horizontal

  %dt= t(:field_host)
  %dd= @log.host

  %dt= t(:field_uploaded)
  %dd= @log.formatted_created_at

  %dt= t(:field_log)
  %dd
    %pre= @log.result
