- content_for :title do
  = "#{@log.script.name} - #{t(:title_log)}"

%ul.breadcrumb
  %li
    = link_to t(:title_scripts), scripts_path
  %li
    = link_to @log.script.name, script_path(@log.script)
  %li.active= t(:title_log)

.page-title
  %h3= t(:title_log)
  .page-title-right-menu
    = link_to t(:button_edit), edit_log_path, class: 'btn'

%dl.dl-horizontal

  %dt= t(:field_host)
  %dd= @log.host

  %dt= t(:field_uploaded)
  %dd= @log.formatted_created_at

  %dt= t(:field_log)
  %dd
    %pre= @log.result

  %dt= t(:field_log_size)
  %dd= number_to_human_size @log.result_bytes

  %dt= t(:field_memo)
  %dd
    - unless @log.memo.blank?
      %pre= @log.memo
