%p#notice= notice

%h3 Log

%dl.dl-horizontal

  %dt Host:
  %dd= @log.host

  %dt Uploaded:
  %dd= @log.created_at

  %dt Result:
  %dd
    %pre= @log.result

.text-center
  = link_to 'Back', script_path(@log.script.id), class: 'btn'
