%h3
  = link_to "Scripts", scripts_path
  &raquo;
  = link_to @log.script.name, script_path(@log.script)
  &raquo;
  Log

%dl.dl-horizontal

  %dt Host:
  %dd= @log.host

  %dt Uploaded:
  %dd= @log.created_at

  %dt Result:
  %dd
    %pre= @log.result
