!!! 5
%html(lang="en")
  %head
    %meta(charset="utf-8")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    %title= title(yield(:title))
    %meta{name: "description", content: t(:description)}
    = csrf_meta_tags
    = stylesheet_link_tag "application", media: "all"
    = favicon_link_tag 'apple-touch-icon.png', rel: 'apple-touch-icon', type: 'image/png'
    = favicon_link_tag 'favicon.ico', rel: 'icon'
    = javascript_include_tag "application"
  %body
    %nav.navbar.fixed-top.navbar-expand-lg.navbar-dark.bg-dark
      .container
        = link_to image_tag(asset_path('sunline-logo-white.png')), {controller: 'top'}, class: 'navbar-brand'
        %button.navbar-toggler{'type': 'button', 'data-toggle': 'collapse', 'data-target': '#js-navbar-collapse', 'aria-controls': 'js-navbar-collapse', 'aria-expanded': 'false', 'aria-label': 'Toggle navigation'}
          %span.navbar-toggler-icon
        - if user_signed_in?
          .collapse.navbar-collapse#js-navbar-collapse
            %ul.navbar-nav.mr-auto
              %li.nav-item= link_to t(:title_scripts), scripts_path, class: 'nav-link'
              %li.nav-item= link_to t(:title_hosts), hosts_path, class: 'nav-link'
              %li.nav-item= link_to t(:title_search), search_path, class: 'nav-link'
            %ul.navbar-nav.ml-auto
              %li.nav-item.dropdown
                %a.nav-link(data-toggle="dropdown" role="button" href="#" id="accountDropdown" aria-haspopup="true" aria-expanded="false")
                  = t(:button_account)
                  %i.fa.fa-caret-down
                .dropdown-menu.dropdown-menu-right(aria-labelledby="accountDropdown")
                  .dropdown-item.signout-menu
                    = button_to destroy_user_session_path, method: :delete, class: 'btn btn-link' do
                      %i.fa.fa-sign-out-alt
                      = t(:button_sign_out)
    .container.mt-5.pt-3
      = bootstrap_flash_compat
      = yield
      %footer
        %p &copy; codefirst.org
